__pycache__
*.pkl
.ipynb_checkpoints
.idea
.DS_Store
.RDataFiles/
*.joblib
*.mojo
*license.txt
*.rds
artifacts/
reports/
models/reports/
notebooks/local_reports/*
notebooks/data_statistics/data/*
notebooks/segmented_model_demo/augmented_data
notebooks/practical_issues/encoded_german_credit.csv
notebooks/practical_issues/preprocessed.csv
notebooks/target_encoded/dataset_generation/best_model_keras/
